.main{width: 1200px;margin: 50px auto;}

/*左边模块*/
.left{width: 250px;float: left;position: absolute;}
.left_repeat{width: 100%;background-color: #AAAAAA;margin: 0 0 20px 0;}

/*个人信息模块*/
.information img{height: 80px;border-radius: 50%;position: relative;margin: 10px 90px;}
.information p{font-size: 30px;text-align: center;color: #ffffff;}